.LandingPage-Body{
    margin-top: 80px;
}
.Expertise-body{
    width: 1020px;
    display: flex;
    margin : 0 20px 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.Expertise-body span{
    margin-right:10px;
    color: #DCDCDC;
}

.About{
    padding: 20px;
    text-align: justify;
}

@media screen and (max-width: 520px) {
    .Expertise-body{
        width: 370px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}